#dmd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
}

.d1 {
    width: 100%;
    height: 30vh;
    text-align: center;
}

#btn1 {
    border: none;
    font-size: 30px;
    background-color: white;
    cursor: pointer;
    align-items: center;
    font-family: 'GmarketSansBold';
    color: #5B2386;
    background-color: #FCEE21;
    border-radius: 30px;
    padding: 10px 40px;
    word-break: keep-all;    
}
.item {
    width: 200px;
    height: 100px;
    margin: 50px auto;
    padding-top: 75px;
    background: rgba(255,85,0);
    text-align: center;
    color: #4E4C48;
    font-size: 1.5em;
}

#cardBox {
    padding: 250px;
    display: flex;
    justify-content: space-around;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.blink {
    -webkit-animation: blink 0.5s ease-in-out infinite alternate;
    -moz-animation: blink 0.5s ease-in-out infinite alternate;
    animation: blink 0.5s ease-in-out infinite alternate;
}

.click{
    position: absolute;
    right: +600px;
    bottom: +283px;
}
.container2 {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable {
    width: 120px;
    height: 70px;
    border: none;
    border-radius: 8px;
    margin: 12px;
    cursor: move;
    font-size: 30px;
}

.draggable.dragging {
    opacity: 0.5;
}

