@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

#dmd {
    font-family: fa;
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: white;
}

.d1 {
    width: 100%;
    height: 30vh;
    text-align: center;
}

#btn1 {
    border: none;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
    font-family: 'GmarketSansBold';
    color: #5B2386;
    background-color:rgb(250, 209, 62);
    border-radius: 30px;
    padding: 10px 40px;
    word-break: keep-all;
    font-family: fa;    
}
.item {
    width: 200px;
    height: 100px;
    margin: 50px auto;
    padding-top: 75px;
    background: rgb(250, 209, 62);
    border-radius: 30px;
    text-align: center;
    color: #5B2386;
    font-size: 1.7em;
    font-family: fa;
}

.selectItem {
    background: rgb(234, 126, 18);
}

#cardBox {
    padding: 250px;
    display: flex;
    justify-content: space-around;
}

.right {
    background-color: blueviolet;
    padding: 250px;
    display: flex;
    justify-content: space-around;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.blink {
    -webkit-animation: blink 0.5s ease-in-out infinite alternate;
    -moz-animation: blink 0.5s ease-in-out infinite alternate;
    animation: blink 0.5s ease-in-out infinite alternate;
}

.click{
    position: absolute;
    right: +600px;
    bottom: +283px;
}
.container2 {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    height: 80vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.cardcheckBox {
    width: 200px;
    height: 200px;
    font-size: 50px;
    align-items: center;
    border: 3px solid yellow;
    position: relative;
}

.draggable {
    width: 120px;
    height: 70px;
    border: none;
    border-radius: 8px;
    margin: 12px;
    cursor: move;
    font-size: 30px;
    color : rgb(250, 209, 62);
    border: 3px solid yellow;
    float: left;
    text-align: center;
}

.draggable.dragging {
    opacity: 0.5;
}

@font-face {
    src: url(BMJUA_otf.otf);
    font-family: fa;
}


.box{
    border: 1px solid white;
    padding: 10px;
    border-radius : 5px;
    margin : 10px;
    width : 30%;
    color :rgb(250, 209, 62)
}

.randomCard {
    width: 200px;
    height: 200px;
    font-size: 50px;
    align-items: center;
    border: 3px solid yellow;
    position: relative;
}
#korean {
    color: white;
}

#checkBtn{
    border: none;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
    font-family: 'GmarketSansBold';
    color: #5B2386;
    background-color:rgb(250, 209, 62);
    border-radius: 30px;
    padding: 10px 40px;
    word-break: keep-all;
    font-family: fa; 
    margin-top: 100px;
}
.check {
    text-align: center;
}