#dmd {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    cursor: pointer;
}

.d1 {
    width: 1200px;
    height: 30vh;
    text-align: center;
}

#btn1 {
    border: none;
    font-size: 30px;
    background-color: white;
}
.item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: rgba(255,85,0, .7);
    text-align: center;
    color: #4E4C48;
    font-size: 1.5em;
}
.container{
    text-align: center;
    background-color: #e74c3c;
    overflow: scroll;
  }   